@charset "iso-8859-1";
/* CSS Document */

body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
        margin: 0px;
        padding: 0px;
}

h1{
    color: #474747;
    font-size: 18px;
    text-align: left;
    font-style: italic;
    font-weight: normal;    
    background-image: url(../images/border_titulo_ppal.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    text-transform: capitalize;
}

h2{
    color: #005825;
    font-size: 14px;
    text-align: left;
    font-style: normal;
    font-weight: normal;
}

h3{
    color: #005825;
    font-size: 14px;    
    font-style: normal;
    font-weight: bold;
}

#master{
	width:1000px;
	margin: auto;
}
#menu1 {
	position:absolute;
	left:auto;
	right:auto;
	top:169px;
	margin-left:553px;
	margin-right:281px;
	width:166px;
	height:80px;
	z-index:1;
	background-image: url(../imagens/layout/bg2-mapa.gif);
	visibility: hidden;
}

#menu2 {
	position:absolute;
	left:auto;
	right:auto;
	top:169px;
	margin-left:625px;
	margin-right:179px;
	width:196px;
	height:80px;
	z-index:1;
	background-image: url(../imagens/layout/bg2-mapa.gif);
	visibility: hidden;
}


#bannercontainer{
	text-align: center;
	width: 916px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	background: #fff;
}

#bannercontainer img{
	border: none;
}

#bannercontainer_painel{
	text-align: left;
	width: 458px;
	height: 75px;
	background: #fff;
}
bannercontainer_painelx{
	text-align: center;
	width: 458px;
	height: 75px;
	margin-left: auto;
	margin-right: auto;
	background: #fff;
}

#bannercontainer_painel img{
	border: none;
}



A   	       	{color:	#000000; text-decoration:none; cursor:default;}
A:link			{color:	#000000; text-decoration:none; cursor:default;}
A:visited		{color:	#000000; text-decoration:none;}
A:active		{color: #000000; text-decoration:none;}
A:hover 		{color: #000000; cursor: hand; text-decoration: underline;}

.link		A   	       	{color:	#000000; text-decoration:none;}
.link		A:link			{color:	#000000; text-decoration:none;}
.link		A:visited		{color:	#000000; text-decoration:none;}
.link		A:hover 		{color: #000000; cursor: hand; text-decoration: underline;}

.link2		A   	       	{color:	#005825; text-decoration:none;}
.link2		A:link			{color:	#005825; text-decoration:none;}
.link2		A:visited		{color:	#005825; text-decoration:none;}
.link2		A:hover 		{color: #005825; text-decoration: underline;}


.form {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	background-color: #EAEAEA;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #666;
	border-right-color: #666;
	border-bottom-color: #666;
	border-left-color: #666;
}
.form2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	background-color: #FFF;
	border: 0; width: 145px; height: 12px;
}
.form3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #666;
	background-color: #FFF;
	width: 300px;
	height: 18px;
	border:1px solid #666;
}
.form4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	background-color: #FFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #666;
	border-right-color: #666;
	border-bottom-color: #666;
	border-left-color: #666;
}
.Titulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #005825;
	font-style: italic;
	text-align: left;
}
.cinza10 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;}

.preto10 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;}
	
.verde10 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #005825;}

.cinza8 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8px;
	font-weight: normal;
	color: #000000;}

.cinza11 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;}
	
.branco12 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #ffffff;}
	
.cinza11-2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #666666;}

.preto11 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;}
	
.verde11 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #005825;}

.cinza12 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;}

.preto12 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;}
	
.verde12 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #005825;}

.cinza13 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #000000;}

.preto13 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #000000;}
	
.verde13 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #005825;}	

.cinza14 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #000000;}

.preto14 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #000000;}
	
.verde14 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #005825;}
	
.preto16 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #000000;}	
	
	.verde16 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #005825;
}	
	
	.verde18 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #005825;
}
	
.verde20 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #005825;
}	

.verde22 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: #005825;
}

.verde24 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #005825;
}	

#resultsPlanilla {border: 0px solid #0AA650;border-bottom: 0px;}
#resultsPlanilla thead tr th {
    border-bottom: 1px #99bbe8 solid;
    height: 25px;
    padding-left: 0px;
    background-color:  #A9C6C2;
    font-weight: normal;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}
#resultsPlanilla thead tr th a{color: #15428b;}
#resultsPlanilla td {padding: 3px 3px ;font-size: 10px; color: #404040;}
.grayBackground{background-color: #E0E0E0; padding: 3px 3px ;}
.borderBottomDarkGray{border-bottom: #0AA650 solid 0px;}
.bgList{background-color: #C0C0C0;}

#resultsSimpleTable thead tr th {
    
    height: 25px;
    padding-left: 0px;
    background-color: #9A9A9A;
    font-weight: normal;
    text-align: center;
    color: #fff;
    font-size: 12px;
}
#resultsSimpleTable thead tr th a{color: #15428b;}
#resultsSimpleTable td {padding: 5px ;font-size: 11px; padding-left: 15px; }
#textoSelect{
    color: #8D8D8D;
    font-size: 13px;
}

input[type=text]{
    background-color: #fafafa !important;
    border-top: 1px solid #cecece !important;
    border-left: 1px solid #cecece !important;
    border-bottom: 1px solid #e7e7e7 !important;
    border-right: 1px solid #e7e7e7 !important;
    font-size: 11px;        
    outline: none;    
}

input[type=submit],
input[type="button"]{        
    background-color: #A9C6C2;
    color: #ffffff;
    font-size: 10px;
    padding: 3px;
    border: none !important;
}

select{
    background-color: #fff;
    border: 1px solid #8D8D8D;
    font-size: 11px;
}

label{
    color: #747474;
}

.borderBottomRow{border-bottom: #9A9A9A solid 1px;text-align: left; }

ul{
    color: #005825;
}

ul li{
    font-size: 13px;
}

.tituloPesquisa{
    background-color: #A9C6C2;
    padding: 3px;
    color: #fff;
}

/* Anexos */
.anexos {
    margin: 0 150px;
}
.anexos ul li {
    list-style: none;
    margin-top: 5px;
}
.anexos ul li a {
    background-color: #888;
    border: 1px solid #000;
    color: #fff;
    display: block;
    padding: 3px;
}
.anexos ul li a:hover {
    background-color: #fff;
    color: #000;
    text-decoration: none;
}