@charset "utf-8";
/*STYLES DEBUG BAR SYMFONY*/

#sfWebDebugSymfonyVersion {
    background-color: #446CB3 !important;
    color: yellow !important;
    font-size: 13px;
    font-weight: bold;
    
}
#sfWebDebugBar {
    background-color: #446CB3 !important;
    /*width: 1024px !important;*/
}
#sfWebDebug a, #sfWebDebug a:hover {
    background-color: transparent;
    border: medium none;
    color: #FFFFFF !important;
    text-decoration: none;
}
.sfWebDebugInfo, .sfWebDebugInfo td {
    background-color: #446CB3 !important;
}
#sfWebDebugBar .sfWebDebugMenu li {
    color: #FFF !important;
}
/*STYLES BACKEND*/
body{margin:0px;padding:0px;font-family: "proxima-nova","Helvetica","Helvetica Neue",Arial,sans-serif;font-size: 12px;color: #333333; background-color: #f6f8f8;}
a:link,a:active,a:visited{color: #25ade9;text-decoration: none;}
a.white:link,a.white:active,a.white:visited, a.white:hover{color: #fff;text-decoration: none;}
a.button:link,a.button:active,a.button:visited, a:hover{color: #333333;text-decoration: none;}
a.titulo:link,a.titulo:active,a.titulo:visited {color: #21759a;font-weight: bold;text-decoration: none;font-size: 11px;}
a.edit:link,a.edit:active,a.edit:visited {color: #59a504;font-size: 11px;text-decoration: none;}
a.delete:link,a.delete:active,a.delete:visited {color: red;font-size: 11px;text-decoration: none;}
a.acoe:link,a.acoe:active,a.acoe:visited {color: #000;font-size: 11px;text-decoration: underline;}
a.view:link,a.view:active,a.view:visited {font-size: 11px;text-decoration: none;}
a:hover,a.blanco:hover,a.titulo:hover {color: #d54e21;}
a.desc:hover{background-image: url(../images/desc_roll2.png);background-repeat: no-repeat;border: 0px;}
a.asc:hover{background-image: url(../images/asc_roll2.png);background-repeat: no-repeat;border: 0px;}
i{color: #919191;font-size: 12px;text-align: right;}

#logo-cte{
    height: 60px;
    width: 180px;
    margin-top: 0px;
}
#top_user_nav, #top_user_nav a, #top_toolbar_nav a, #top_user_nav a:visited, #top_toolbar_nav a:visited, #top_user_nav a:active, #top_toolbar_nav a:active {
    color: #999;
    font-size: 13px;
    font-family: "proxima-nova","Helvetica","Helvetica Neue",Arial,sans-serif;
    font-style: normal;
    text-decoration-line: underline !important;
    
}
#top_user_nav .image {
    width: 48px;
    height: 48px;
    border: 1px solid #fff;
    margin: 0 10px 0 10px;
    top: 5px;
    position: relative;
}

.settings_general .userimage {
margin: 0 14px 5px 0;
}
.userimage {
text-align: left;
position: relative;
left: 1px;
}
.pointer, .profile_clickout {
cursor: pointer;
}
.left {
float: left;
}

.userimage.settings-thumb img {
width: 96px;
height: 96px;
}
.userimage img {
-webkit-box-shadow: 1px 1px 4px rgba(50,50,50,0.4);
-moz-box-shadow: 1px 1px 4px rgba(50,50,50,0.4);
box-shadow: 1px 1px 4px rgba(50,50,50,0.4);
padding: 5px;
background-color: #FFF;
}

div.base-propiedades{
    width: 600px; height: 100px; 
}
div.propiedades{
    width: 100px;
    text-align: center;
    padding-bottom: 15px;
    font-weight: bold;
    float: left;
}

div.propiedades-extend{
    width: 550px;
    border-left: 1px #ccc dotted;
    height: 83px;
    text-align: left;
    padding-left: 15px;
    font-weight: normal;
}

div.propiedades a{
    
}

#tree-div{
    /*width: 450px !important;*/
}

input[type=text],textarea,input[type=password],input[type=button],input[type=submit],select
{
    padding: 4px;
    border: 1px #CCCCCC solid;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #333333;
}

input[type=button],input[type=submit]
{
    cursor: pointer;
    padding: 0px 20px 0px 20px;
    background-color: #fff;
    background-image:url(../images/bck_button.png);
    background-repeat: repeat-x;
    background-position: center;
    border: 1px #c9c9c9 solid;
    width: auto;
    height: 25px;
    color: #FFF;
}

.preview-top-site{
    cursor: pointer;
    
    background-color: transparent;
    background-image:url(../images/top_backend_position_news.png);
    background-repeat: no-repeat;
    background-position: center;
    
    width: 626px;
    height: 326px;
}

.preview-top-site .bloques{
    border: 0px solid #CCCCCC;
    left: 390px;
    position: relative;
    top: 103px;
    width: 239px;
}

.preview-top-site .bloques .posicion{
    width: 110px; 
    height: 102px; 
    float: left; 
    border: 1px solid #000;
}
    


input[type=text]:focus, input[type=password]:focus, textarea:focus{
    border-bottom: 1px solid #edeadb !important;
    border-right: 1px solid #edeadb !important;
    background-color: #fffeec !important;
}
input[type=button]:hover,input[type=submit]:hover, .button:hover
{
    background-image:url(../images/bck_button_over.png);
    background-repeat: repeat-x;
    background-position: center;
}

#funkystyling {
    background: white url(../images/magnifier.png) left no-repeat;
    padding-left: 26px;
    background-position: 6px 5px;
}

label{line-height: 30px; font-weight: bold; font-size: 13px;}
input.search{padding: 0px;border: 0px;}
input.search:focus{background-color: #ffffff !important;border: 0px !important;}
input.errorFound, textarea.errorFound{background-color: #faf3f3 !important;}
/* RADIO */

.regular-radio {
	display: none;
}

.regular-radio + label {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 6px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
        margin-bottom: 5px;
}

.title-radio{
    padding-left: 8px;
    position: relative;
    top: -7px;
}

.regular-radio:checked + label:after {
	content: ' ';
	width: 6px;
	height: 6px;
	border-radius: 50px;
	position: absolute;
	top: 3px;
	background: #67bfe3;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
	text-shadow: 0px;
	left: 3px;
	font-size: 32px;
        
}

.regular-radio:checked + label {
	background-color: #e9ecee;
	color: #99a1a7;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
        margin-bottom: 5px;
}

.regular-radio + label:active, .regular-radio:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
        
}

.button-holder {
	float: left;
}


.btn-adicionar{
    cursor: pointer;
    padding: 6px 10px 0px 33px;
    background-color: #fff;
    background-image: url(../images/icons/plus.png);
    background-repeat: no-repeat;
    background-position: 4px 3px;
    border: 1px #c9c9c9 solid;
    color: #333 !important;
    width: auto;
    height: 22px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 1px 1px 2px black;
    -webkit-box-shadow: 1px 1px 2px black;
    box-shadow: 1px 1px 2px black;
    position: relative;
    float: right;
    top: -82px;
    right: -8px;
}



h1{
    font-size: 16px !important;
    color: #333;
    margin: 0px !important;
    padding: 5px 5px 5px 0px !important;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    font-weight: normal;
    text-transform: uppercase;
    font-weight: bold;
}

h1.titulo{
    color: #68aed0;
    font-size: 18px !important;
    text-transform: uppercase;
}

h2{
    color: #25ade9;
    font-size: 16px !important;
    font-weight: bold;
}

h2.titulo{
    color: #68aed0;
    font-size: 16px !important;
}

#topSite{
    width: 100%; margin: auto; background-color: #FFF; height: 112px;
    /*background-image:url(../images/bck_top.png);
    background-repeat: repeat-x;
    background-position: center;  */
}

#topMenu{
    background-image:url(../images/bck_menu_top.png);
    background-repeat: repeat-x;
    background-position: center;    
    width: 100%; margin: auto; background-color: #000;
    height: 40px;
}

#contentPpal {
    /*border-bottom: 10px #F6F6F6 solid;
    border-left: 10px #F6F6F6 solid;
    border-right: 10px #F6F6F6 solid;*/
    border-top: 1px solid #F1F1F1;
    border-right: 1px solid #E7E6E6;
    border-left: 1px solid #E7E6E6;
    border-bottom: 1px solid #CFCFCF;
    background-color: white;
    width: 1000px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 30px;
}
/* Iconos para titulos */
.icono_user{
    background-image: url("../images/icon_user.gif");
    background-repeat: no-repeat;
    margin-bottom: 10px !important;
    padding: 7px 0 5px 36px !important;
    top: -38px;
    position: relative;
}

.icono_sistema{
    background-image: url("../images/icons/sistema.png");
    background-repeat: no-repeat;
    margin-bottom: 10px !important;
    padding: 7px 0 5px 36px !important;
    top: -38px;
    position: relative;
}

.icono_seguranca{
    background-image: url("../images/icons/seguranca.png");
    background-repeat: no-repeat;
    margin-bottom: 10px !important;
    padding: 7px 0 5px 36px !important;
    top: -38px;
    position: relative;
}

.icono_banco{
    background-image: url("../images/icons/banco.png");
    background-repeat: no-repeat;
    margin-bottom: 10px !important;
    padding: 7px 0 5px 36px !important;
    top: -38px;
    position: relative;
}

#renglon{
    border-bottom: 1px #ccc dotted; margin-bottom: 15px;
    height: 120px;
    position: relative;
    top: -10px;
    padding-bottom: 20px;
}

#renglon-list{
    border-bottom: 1px #ccc dotted; margin-bottom: 15px;
    height: 120px;
    position: relative;
    top: 10px;
    padding-bottom: 20px;
}

#renglon-permiso{
    border-bottom: 0px solid #ccc; 
    margin-bottom: 15px;
    height: auto;
    padding-top: 15px;
}

#renglon-permiso h2{
    padding: 20px 0 20px 0;
}

#renglon-permiso #space-module{
    width: 150px;  height: 200px; margin-right: 7px;
}

#renglon-permiso #space-module .nome-module{
    width: 150px; height: 95px; text-align: center;
}
#renglon-permiso #space-module .nome-module .img-module{
    height: 62px;
    text-align: center;
    width: 150px;
}
#renglon-permiso #space-module .nome-module .text{
    letter-spacing: 2px;
}
#renglon-permiso #space-module .vistas-module{
    padding: 6px 2px 3px 4px; margin-top: 0px; height: 120px;
    background-color: #FFF;
    border: 1px solid #DBDBDB;
    border-radius: 5px;
}
#renglon-permiso #space-module .vistas-module .opcoes-permisoes{
    border-bottom: 1px dotted #ccc; padding-bottom: 5px; margin-bottom: 10px; float: none; width: 140px; height: 25px;
}

#renglon-permiso .space-opcoe{
    border-bottom: 1px dotted #ccc; padding-bottom: 5px; margin-bottom: 10px; float: none; width: 140px; height: 25px;
}
#renglon-permiso .opcoe{
    float: left; width: 70px;    
}

#renglon-permiso .opcoe-left{
    float: left; width: 60px;
    border-right: 1px #DBDBDB dotted;
    margin-right: 3px;
    padding-top: 0px;
    padding-left: 7px;
    margin-top: 12px;
}

#renglon-permiso .opcoe-right{
    float: left; width: 59px;
    margin-right: 3px;
    padding-top: 0px;
    padding-left: 4px;
    margin-top: 12px;
}




.message{
    color: #FFF;
    font-weight: normal;
    display: none;
    background-color: #518dc2;
    padding: 2px 0px 5px 0px;
    margin-top: 7px;
}

.message a{
    color: #FFF;
}

.icon_leyenda{
    position: relative;
    top: 6px;
}
#conteint {
    border-left: 0px solid #E5E5E5;
    border-right: 0px solid #E5E5E5;
    border-bottom: 0px solid #E5E5E5;
}
#container{padding:10px;}
#footer {
    background-image:url(../images/bck_footer.png);
    background-repeat: repeat-x;
    background-position: center;    
    width: 100%; margin: auto; background-color: none;
    height: 55px;
    width:100%;
    /*position:absolute;*/
    bottom:0;
    left:0;
    text-align: center;
}
.frameForm, #resultsList, #search_box, #title_module, #list_profiles,#backGroundExtJS, .button  {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}
#title_module{border: 0px #e6e8dd solid;background-color: #FFF;padding: 10px; margin-top: 0px; }
.frameForm{
    border: 0px #e6e8dd solid;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
}
#resultsList {width: 100%;border: 1px solid #DDD;border-bottom: 0px;}
.result_busca{
    color: #68aed0;
    padding: 5px 0px 15px 0px;
}
.result_busca span{
    color: #333;
    
}
#resultsList thead tr th {
    border-bottom: 1px #DDD solid;
    height: 25px;
    padding-left: 0px;
    background-color: #F6F8F8;
    background-repeat: repeat-x;
    font-weight: bold;
    text-align: left;
    color: #333;
    font-size: 11px;
}
#resultsList thead tr th a{color: #333;}
#resultsList td {padding: 6px 0px  ;font-size: 11px;}

#register_user td {padding-bottom: 10px  ; vertical-align: top}
.eliminarFila{
    cursor: pointer;
}
#resultsPlanilla {width: 4500px;border: 1px solid #DDD;border-bottom: 0px;}
#resultsPlanilla thead tr th {
    border-bottom: 1px #DDD solid;
    height: 25px;
    padding-left: 0px;
    background-color: #DDD;
    background-repeat: repeat-x;
    font-weight: bold;
    text-align: left;
    color: #15428b;
    font-size: 11px;
}
#resultsPlanilla thead tr th a{color: #15428b;}
#resultsPlanilla td {padding: 6px 0px  ;font-size: 11px;}
/**********  PAGINA DE ERROR   ***************/
#errorBody{background-color: #FFF !important;}
#errorBody h1{color: #FFF;font-size: 60px !important;border: none;margin: 0px;}
#errorBody h2{padding-top:10px;background:none;font-weight: normal;color: #E1E6FA;margin: 0px; font-size: 24px !important;}
#errorBody .text{color: #333;}
#errorBody .content{
    width: 720px;  margin-left: auto;margin-right: auto; background-color: none; font-size: 18px; font-weight: normal;
    
    box-shadow: 1px 1px 1px #E5EAED;
    padding: 40px 50px;
    margin-bottom: 18px;
    border-bottom: 1px solid #eeeeee;
    border: 1px solid #D0D0D0;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.05);
}
/***Marcos Profiles***/

.borderBottomDarkGray{border-bottom: #ddd solid 1px;text-align: left;}
.button
{
    height: 17px;
    padding: 3px 5px 0px 5px;
    border: 1px #c9c9c9 solid;
    color: #333333;
    cursor: pointer;
    background-color: #fff;
    background-image:url(../images/bg_btn.jpg);
    background-repeat: repeat-x;
    background-position: center;    
}
.button a{border: none;background-color: transparent;background-image: none; }
.button a:hover{border: none;background-color: transparent;background-image: none; }
/**********  BACKGROUND   ***************/
.grayBackground{background-color: #fff;}
.bgTopMenu{border: 0px solid black;width: 100%;background-color: none ;text-align: right;padding: 5px 0px 5px 0px;color: #333;}
.bgTopMenu a{color: #333;}
.bgTopMenu a:hover{color: #333;text-decoration: underline;}
#backGroundExtJS{border: 0px #e6e8dd solid;background-color: #fff;padding: 10px;min-height: 45px;padding-left: 10px;}
.displayTitle{width: 100%;}
.row-actions{width: 240px;height: 15px;margin-top: 2px;margin-bottom: 0px;border: 0px solid; margin-left: 32px; }
.required{color:#D12524;font-weight:normal;}
.msn_ready{background-color: #518dc2;border-color: #6e8bba;margin-bottom: 10px; color: #FFF; padding: 10px;font-weight: bold;width: auto;text-align: left}
.msn_error{background-color: #cc0000;border-color: #cc0000;margin-bottom: 10px;padding: 10px;color: #FFF; font-weight: bold;width: auto;text-align: left}
.msn_help{font-size: 11px;font-style: italic; color: #333;}
.error_list{
    width: 300px;
    padding: 6px;
    margin: 0px;
    background-color: #d14836;
    border: 1px solid #E55555;
    list-style: none;
    text-align: left;
    color: #FFF;
    font-size: 12px;
    margin-bottom: 2px;
    margin-top: 2px;
}
#errorGlobal .error_list{ width: auto;}
.searchContainer div { background-color:#fff; display:inline; padding:5px; border:1px solid #CCCCCC;}
.searchContainer img { vertical-align:middle;cursor: pointer;padding: 0px;}
.msjPermissions{background-color: #f3f4dc;float: left;padding: 10px;display: none;}
.ppalText{padding-top: 5px !important;text-align: center;}
.auto-width-tab-strip ul.x-tab-strip {width: auto;}
.results{text-align: left; padding-top: 5px;}

.borderImage{padding: 5px;border: #4B94C9 1px solid;}

.frameHomeImages{-moz-border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius: 3px;border-radius: 3px;border: 1px #bbccff solid;background-color: #fff;padding: 0px;margin-bottom: 10px;padding-bottom: 0px;position: relative;margin-left: 5px; border-top: 0px; border-left: 0px; border-right: 0px;}

.backgroundHomeImage{
    width: 195px;
    /*min-height: 190px;*/
    max-height: 280px;
    border: 1px #7aaec1 solid;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 5px;
    vertical-align: middle;
}
#deleteHomeImage{
    padding: 5px 0px 10px;
}

#deleteHomeImage img{
    position: relative;
    top: 3px;
    right: 5px;
}

.principal_image img{
    position: relative;
    top: 8px;
    left: 3px;
}

#upload_image{
    width:93px;
    height:21px;
    background-image: url(../images/bt_upload_image_1.jpg);
    padding:0px;
    cursor: pointer;
}

#upload_image.hover{
    background-image: url(../images/bt_upload_image_2.jpg);
    cursor: pointer;
}


.contentPicture {
   float:left;
   width:110px;
   /*height:100px;*/
   margin: 5px;
   padding: 10px 15px;
   background-color:#FFF;
   border: #CCC solid 1px;
   text-align: center;
   cursor: move;
}

.right-element{position: absolute;right: 0;width: 15%;text-align:
 right; /* depends on element width */}
.load{background-color: #7cb7e3;padding: 4px;color: #FFFFFF;}

/***
* Lista para ordenar testimoniales
*/
#order {
  margin: 20px 10px;
}
#order li {
  background-color: #fafaf8;
  border: 1px solid #e6e8dd;
  margin: 10px;
  padding: 10px;
}
#order li img {
  margin-right: 10px;
  vertical-align: top;
}
#order li.sortable {
  cursor: move;
}
#responseOrder {
  background-color: #e0ffe0;
  border: 1px solid #aae653;
  margin-top: 10px;
  padding: 5px;
  opacity: 0;
  width: 300px;
}
.tituloPermission{color: #21759a;font-weight: bold;font-size: 11px;}

#info {
	display: block;
	padding: 10px; margin-bottom: 20px;
	border: 1px solid #333;
	background-color: #efefef;
}

#vinculos{
    width: 100%;
    border-bottom: 1px solid #CCC;
    height: 102px;
    padding-left: 15px;
}

#test-list {
	list-style: none;
}

#test-list li .img_banner{
    width: 500px !important;
    float: left;
}
#test-list li .fecha{
    width: 97px !important;
    float: left;
}
#test-list li .opcoes{
    width: 92px !important;
    float: left;
}

#test-list li {
	display: block;
	padding: 5px 16px; margin-bottom: 3px;
	background-color: #f7f7f7;
        
}

#test-list li img.handle {
	margin-right: 12px;
	cursor: move;
}

#list-destacadas li img.handle {
    cursor: move;
    margin-left: 4px;
    margin-right: 5px;
    position: relative;
    top: 4px;
}

#list-destacadas li{
    border-bottom: 1px solid #DDDDDD; height: 34px; padding-top: 11px; background-color: #FFFF99;
}

/* Tiny Scrollbar */
#scrollbar1 { width: 220px; margin: 0px 0 10px; }
#scrollbar1 .viewport { width: 200px; height: 200px; overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
#scrollbar1 .scrollbar{ background: transparent url(../images/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 15px; }
#scrollbar1 .track { background: transparent url(../images/bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }
#scrollbar1 .thumb { background: transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
#scrollbar1 .thumb .end { background: transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
#scrollbar1 .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

/**** SELECT ****/
.cadastro
{
    margin-top: 30px;
}

ul.lang {
    float: right;
    border: 1px solid #ccc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    zoom: 1;
    height: 33px;
    top: -74px;
    right: -19px;
    background-color: #FFF;
    *display: inline;
}

.icon_plus_adicionar {
    cursor: pointer;
    padding: 6px 10px 0px 33px;
    background-color: #fff;
    background-image: url(../images/icons/plus.png);
    background-repeat: no-repeat;
    background-position: 4px 3px;
    border: 0px #c9c9c9 solid;
    width: auto;
    height: 20px;
    float: right;
    top: 3px;
    position: absolute;
}
ul.lang a {color: #666; text-decoration: none;}
ul.lang img {position: relative;top: 3px;}
ul.lang li {list-style: none; text-align: left;}

ul.lang > li {
    display: inline-block;
    cursor: pointer;
    margin: 0;
    padding: 5px;
    position: relative;
    width: 120px;
    zoom: 1;
    *display: inline;
    height: 14px;
}
ul.lang li ul {
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    display: none;
    left: -1px;
    margin: 28px 0 0 0 !important;
    padding: 0;
    position: absolute;
    top: 0;
    width: 170px;
    z-index: 1000;
}
ul.lang li:hover ul {display: block;}
ul.lang li ul li {
    display: block;
    margin: 0;
    padding: 7px;
}
ul.lang li ul li > a {
    display: block;
    margin: 0;
    padding: 0;
    text-align: left;
    padding-left: 28px;    
}
ul.lang li ul li:hover {background-color: #efefef;}

/**** PRELOADER *****/
#preloader 
{
    background-color: #fff;
    z-index: 0;
    display: none;
    border: none;
    
    left: 0px;
    top: 0px;
}

#status 
{
    width:200px;
    height:200px;
    position:relative;
    left:41%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../images/status.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    /*margin:-100px 0 0 -100px; /* is width and height divided by two */
    margin:0px 0 0 0px; /* is width and height divided by two */
    
}

#paginationTop
{
   padding-top: 15px;
}

ul li.options-check{
    float: left;
    width: 55px;
}

.validate-secao{
    color: #25ade9;
}

.validate-secao span{
    color: #d14836;
    margin-left: 5px;
}

.validate-secao img{
    position: relative;
    top: 4px;
}

.img_small{
    width: 22px;
    height: 22px;
    position: relative;
    top: 5px;
    margin-right: 4px;
}

.img_media{
    width: 32px;
    height: 32px;    
}

