@charset "utf-8";
/* CSS Document */
body{margin:0px;padding:0px;font-family: sans-serif;font-size: 12px;color: #333333;}
#container{padding:10px;}
#footer{text-align: center;}
a:link,a:active,a:visited,a:hover {color: #60899f;font-size:14px;text-decoration: none;}
#frmLogin {
    width: 414px;
    background-color: #FCFCFB;
    background-position: bottom;
    background-repeat: no-repeat;
    border: solid #e7e7dd 1px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
label{color: #333333;font-family: sans-serif;font-weight: bold;}
input[type=text],textarea,input[type=password],input[type=button],input[type=submit]
{
    padding: 4px;
    border: none;
    border: #CCCCCC;
    border-width: 1px;
    border-style: solid;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #666666;
    width: 200px;
}
input[type=button],input[type=submit]
{
     cursor: pointer;
    padding: 0px 10px 0px 10px;
    background-color: #fff;
    background-image:url(../images/bg_btn.jpg);
    background-repeat: repeat-x;
    background-position: center;
    border: 1px #c9c9c9 solid;
    width: auto;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus{
    border-bottom: 1px solid #edeadb !important;
    border-right: 1px solid #edeadb !important;
    background-color: #fffeec !important;
}
input[type=button]:hover,input[type=submit]:hover
{
    background-image:url(../images/bg_btn_over.jpg);
    background-repeat: repeat-x;
    background-position: center;
}
input.errorFound, textarea.errorFound{background-color: #faf3f3 !important;}
.error_list{
    width: 350px;
    padding: 6px;
    margin: 0px;
    background-color: #FEE0E0;
    border: 1px solid #E55555;
    list-style: none;
    text-align: left;
    color: #333333;
    font-size: 12px;
}
.msn_error{
    background-color: #ffdfe0;
    border: 1px solid #e65455;
    margin-top: 10px;
    padding: 10px;
    font-weight: bold;
    width: 380px;
    font-family: sans-serif;
    font-size: 12px;
    color: #333333;
    font-weight: normal;
}