body{
    width: 100%;
    margin: 0px;
    background-color: #EEF3F6;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
    background-image: url('/images/frontend/bck_ppal.png');
    background-repeat: repeat-x;
    
}

#container-ppal{
    width: 100%;
    margin: auto;
   
    background-image: url('/images/frontend/fundo.jpg');
    background-repeat: no-repeat;
    background-position: center top;
}

.frame-contenedor{
    border: 1px #e6e8dd solid;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
    width: 580px;
}

#title_module {
    border: 0px #e6e8dd solid;
    background-color: #FFF;
    padding: 10px;
    margin-top: 0px;
}

.galeria_obra img{
    width: 50px;
    height: 50px;
}

/*****MENU NUCLEO ****/

.menu_top_nucleo
{
    background-color: #585957;
    color: #FFF;
    margin-top: 2px;
    padding: 5px 0px 0px 8px;
}

.menu_top_nucleo a
{
    color: #FFF;
    font-weight: normal !important;
    text-decoration: none;
}

.menu_top_nucleo a:hover{
    color: #231F20;
    text-decoration: none;
}

/****MENU TOP*****/

.menu_institucional{
  background-image: url('/images/frontend/bck-menu-rojo.jpg');
  /*background-image: url('/images/frontend/bck-menu-rojo-small.jpg');*/
  background-repeat:no-repeat;
  width: 358px;
  height: 41px;
  position: relative;
  z-index: 1;
  float: left;
}

.menu_institucional img{
    margin-top: 3px;
    margin-left: 13px;
}
.menu_top{
  background-image: url('/images/frontend/background_menu_top.jpg');
  background-repeat:repeat-x;
  height: 69px;
  position: relative;
  z-index: 1;
}

.divisor{
  background-image: url('/images/frontend/divisor.jpg');
  background-repeat:repeat-y;
  width:28px;
  position: relative;
  z-index: 1;
}

.fecha{
	color:#666;
	font-size:11px;	
	font-weight:bold;
}

.frameImage{
    float:left;
    border:#D6D6D6 1px solid;
    padding:5px;
    width:190px;
    height:222px;
    text-align:center;
    margin: 3px;
    padding:6px;
}

.frameImageDetail{    
    background-color: #CFCFD0;
    border:#D6D6D6 1px solid;
    width:183px;
    height: 143px;
    float: left;
    text-align:center;
    margin: 0px;
    padding:3px;
    margin-right: 10px;
}

.frameImageHome {
    background-color: #CFCFD0;
    border: #D6D6D6 1px solid;
    width: 136px;
    height: 102px;
    float: left;
    text-align: center;
    margin: 0px;
    padding: 3px;
    margin-right: 10px;
}

.frameImageNoVisible{    
    padding-left: 3px;
    padding-bottom: 3px;
    float: left;
    text-align:center;    
    margin-right: 10px;
}

.frameImageProyecto{
    border:#D6D6D6 1px solid;
    padding:5px;
    width:auto;
    
    text-align:center;
    margin: 3px;
    padding:6px;
    margin-right: 10px;
}
.contenImage{
	text-align:left;
	margin-top:8px;	
}

.titulo_producto{
	color:#6A869B;
	font-size:12px;
	font-weight:bold;
}



a {
  color: #333;
  content: inherit;
  font-weight: bold !important;
  text-decoration: none !important;
}
a:hover {
  color: #D51921;
}

a.new {
  color: #CC3B26;
  font-size: 16px;
  content: inherit;
  font-weight: bold !important;
  text-decoration: none !important;
}
a.blanco{
    color: #FFF;
    font-size: 11px;
    font-weight: normal !important;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  line-height: normal;
}
h1 {
  font-size: 30px;
  color: #CC3B26;
  font-weight: bold;
  margin: 0px 0px 6px;
}
h2 {  
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 0px 3px 3px;
    border-bottom: 1px dotted #CCC;
    margin-left: 11px;
    margin-right: 12px;
    font-style: normal !important;
}
h2.orange {
  border-bottom: 2px solid #f37421;
  color: #f37421;
}
h2.green {
  border-bottom: 2px solid #3b9355;
  color: #3b9355;
}
h2.blue {
  border: none;
  color: #3A6CC1;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
h3 {
  font-size: 20px;
  color: #000;
  font-weight: bold;
}
h3.black {
  color: #000;
  font-weight: bold;
  margin-bottom: 0px;
}
h4 {
  color: #FF7900;
  margin: 0px;
  font-size: 16px;
}
h5 {
  font-weight: bold;
  margin: 0px 0px 5px 0px;
  padding: 0px;
  font-size: 13px;
}
h6.orange {
  color: #f37421;
  font-size: 14px;
  font-weight: normal;
  margin: 0px 0px 20px 0px;
  padding: 0px;
}

.contact{
    padding: 2px 5px 20px 20px;
    background-color: #FFF; 
}

p{
    margin: 0 0 0px;
}

table{
    margin-bottom: 0px;
}

th, td{
  padding: 0px 0 0 0;
}

ul {
  margin: 0px 0px 0px 15px;
  *margin-left: 20px;
  padding: 0px;
}

li {
  /*list-style-image: url('/images/frontend/list_style_gold_li.jpg');
  *list-style-image: url('/images/frontend/list_style_gold_li_ie.jpg');*/
  margin: 0px 0px 0px 0px;
  padding: 0px;
}

li.cursos{
    margin: 0px 0px 6px;
    padding: 0px;
    font-size: 11px;
    color: #FFF;
}
select{
    background-color: #fafafa !important;
    border-top: 1px solid #cecece !important;
    border-left: 1px solid #cecece !important;
    border-bottom: 1px solid #e7e7e7 !important;
    border-right: 1px solid #e7e7e7 !important;
    font-size: 14px;
    line-height: 20px;
    padding: 4px;
    outline: none;
    width: 138px;
}
input {
    border-top: 1px solid #e7e7e7 !important;
    border-left: 1px solid #e7e7e7 !important;
    border-bottom: 1px solid #e7e7e7 !important;
    border-right: 1px solid #e7e7e7 !important;
    font-size: 12px;
    line-height: 16px;
    padding: 4px;
    outline: none;
    /*width: 310px;*/
}

input.zip{
    width: 150px;
}

label{
    font-weight: normal;
    color: #000;
}
.required{color:#D12524;font-weight:normal;}
input:focus, textarea:focus{
    border-bottom: 1px solid #edeadb !important;
    border-right: 1px solid #edeadb !important;
    background-color: #fffeec !important;
}

input.errorFound, textarea.errorFound{
    background-color: #faf3f3 !important;
}

textarea{
    height: 100px;
    width: 638px;
    border-top: 1px solid #cecece !important;
    border-left: 1px solid #cecece !important;
    border-bottom: 1px solid #e7e7e7 !important;
    border-right: 1px solid #e7e7e7 !important;
    background-color: #fafafa !important;
}

input[type=submit],
input[type="button"]{
    background-color: #D51921;
    width: auto;
    height: 32px;
    color: #ffffff;
    font-weight: bold;
    border: none !important;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer;
    padding: 1px 16px 1px 15px;
}

input[type=submit]:hover{
    background-color: #C31315 ;
}
input[type=submit]:focus{
    background-color: #C31315 !important;
}



-moz-any-link:focus {
 outline: none;
}

p.title{
    color: #ff7700;
    font-size: 16px;
    border-bottom: 2px solid #E0E0E0;
    padding: 0 0 5px;
    font-weight: bold;
}

/*********************** marquee *********************************/
.marquee_black{
  background-color: black;
  color: white;
  padding: 4px 0px;
}

#content{
    border: none;
    background-color: transparent;
    width: 980px;
    margin: auto;
}

#content-footer{
    background-color: #FFF;
    margin-top: 25px;
    height: 235px;
    font-style: normal !important;
}
.content-footer-bottom{
    background-color: #333 !important; 
    height: 32px !important; 
    margin-top: 0px !important;
}

#content-footer .text{
    vertical-align: bottom;
    text-align: left;
    margin-top: 3px;
    margin-left: 8px;
    color: #FFF;
    padding-top: 6px;
}


#conteint{
    border-bottom:  0px solid #e5e5e5;
    background-color: transparent;
}

#header{
    height: 103px;
}

#header img{
    margin-left: 11px;
    position: relative;
    top: 12px;
}

#menuTop{
    height: 45px;
}
.papers_detail{
    width: 100%;
}

.papers_detail thead{
    color: #2a8f57;
    font-size: 20px;
}

.papers_detail thead tr td.title{
    border-bottom: #E0E0E0 2px solid;
}

/* search */
.searchContainer div {
    background-color:#fff;
    display:inline;
    padding:5px;
}
.searchContainer input[type="text"] {
    border:none;
}
.searchContainer img {
    vertical-align:middle;
}

/*************** overwrite style validation *********************/
.formError .formErrorContent {
        background:#333 !important;
        font-size: 13px;
}

.formError .formErrorArrow .line10{ background:#333 !important;}
.formError .formErrorArrow .line9{ background:#333 !important;}
.formError .formErrorArrow .line8{ background:#333 !important;}
.formError .formErrorArrow .line7{ background:#333 !important;}
.formError .formErrorArrow .line6{ background:#333 !important;}
.formError .formErrorArrow .line5{ background:#333 !important;}
.formError .formErrorArrow .line4{ background:#333 !important;}
.formError .formErrorArrow .line3{ background:#333 !important;}

/***
* Menu Principal - Header
*/
#menu {
  display: inline-block;
  float: left;
  height: 38px;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#menu a {
  color: #000;
}
#menu li.selected {
  background: url('/images/frontend/menu_arrow.jpg') bottom center no-repeat;
  height: 38px;
  position: relative;
  z-index: 1;
}
#menu li.selected > a {
  color: #f37421 !important;
}
#menu li.selected:hover > a {
  color: #fff !important;
}
#menu > li {
  display: inline-block;
  cursor: pointer;
  list-style-image: none;
  margin: 0px;
  padding: 0px;
  position: relative;
}
#menu > li > .first,
#menu > li > .last {
  background-position: 0% 0%;
  background-repeat: no-repeat;
  border: none;
  display: inline-block;
  height: 31px;
  vertical-align: top;
  width: 6px;
}
#menu > li:hover > .first {background-image: url('/images/frontend/menu-header-1.gif');}
#menu > li:hover > .last {background-image: url('/images/frontend/menu-header-3.gif');}
#menu > li > a {
  display: inline-block;
  font-size: 16px;
  font-weight: bold !important;
  height: 31px;
  line-height: 31px;
  left: 0px;
  margin: 0px;
  padding: 0px 5px;
  top: 0px;
}
#menu > li:hover > a {
  background: url('/images/frontend/menu-header-2.gif') 0px 0px repeat-x;
  color: #fff;
}
/** SUBMENUS **/
#menu li ul {
  display: none;
  left: 0px;
  margin: 28px 0px 0px 0px !important;
  opacity: 0.95;
  padding: 5px 0px 5px 0px;
  position: absolute;
  top: 0px;
  width: 200px;
  z-index: 1000;
}
#menu li:hover ul {
  display: block;
}
#menu li ul li {
  display: block;
  line-height: 16px;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#menu li ul li > a {
  display: block;
  font-size: 14px !important;
  font-weight: normal !important;
  line-height: 16px;
  margin: 0px 7px;
  padding: 5px;
}
#menu li ul li > a:hover {
  background-color: #e9f6f9;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}

#menu li ul#first {
  background-position: 0% 0%;
  background-repeat: no-repeat;
}

#menu li ul.sub1 {background-image: url('/images/frontend/menu-header-4-aboutus.gif') !important;}
#menu li ul.sub2 {background-image: url('/images/frontend/menu-header-4-oursolutions.gif') !important;}
#menu li ul.sub5 {background-image: url('/images/frontend/menu-header-4-research-and-trends.gif') !important;}
#menu li ul.sub6 {background-image: url('/images/frontend/menu-header-4-newsandevents.gif') !important;}
#menu li ul.sub7 {background-image: url('/images/frontend/menu-header-4-contactus.gif') !important;}
#menu li ul.sub78 {background-image: url('/images/frontend/menu-header-4-perigen-research.gif') !important;}

#menu li ul li#last,
#menu li ul li#last img{
  height: 3px;
  line-height: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  bottom: -1px;
  width: 200px;
}
/***
* Menu Right - Submenu
*/
#subMenu {
  margin-bottom: 20px;
}
#subMenu h4 {
  background-color: #e9f6f9;
  font-weight: bold;
  color: #000;
  padding: 5px;
}
#subMenu ul {
  margin: 0px;
  padding: 0px;
}
#subMenu ul li {
  list-style-type: none;
  list-style-image: none;
  margin: 0px;
  padding: 0px;
}
#subMenu li a {
  background: url('/images/frontend/list_style_blue.jpg') 10px 50% no-repeat;
  border-bottom: #d2edf6 1px solid;
  color: #000;
  display: block;
  font-weight: normal;
  line-height: 28px;
  margin: 0px;
  padding: 0px;
  text-indent: 25px;
}
#subMenu ul.sublevel li a {
  background-position: 40px;
  text-indent: 55px;
}
#subMenu li a:hover {
  background: url('/images/frontend/list_style_gold.jpg') 10px 50% no-repeat;
}
#subMenu li a.selected {
  background: #f5c465 url('/images/frontend/list_style_menu_white.jpg') left no-repeat;
}
#subMenu li a.selected {
  color: white;
}
#subMenu ul.sublevel li a.selected {
  background-position: 30px;
}
/**
* Footer
*/

.backgroundFooter{
  background-image: url('/images/frontend/bck_footer.png');
  background-repeat:repeat-x;
  height: 246px;
  position: relative;
  z-index: 1;  
}

.contentFooter{
    width: 950px; margin: auto;    
}

.servicios-onl_top {
  font-weight: normal;
  background-image: url('/images/frontend/serv_online_form.png');
  background-repeat:no-repeat;
  width: 281px;
  height: 69px;
  margin-top: 0px;
}

.servicios-online {
  font-weight: normal;
  background-image: url('/images/frontend/bck_servicios.png');
  background-repeat:no-repeat;
  width: 180px;
  height: 293px;
  margin-top: 0px;
  margin-left: 18px;
}

.servicios-online a{
    border: 0px solid;
    background-color: none;
    padding: 5px;
}
.servicios-online input[type=submit]{
    width: 17px !important;
}
.servicios-online input{
    width: 70px;
    padding: 0px;
    background-color: #FFF !important;
}

.buscador {
  font-weight: normal;
  background-image: url('/images/frontend/bck_buscador.png');
  background-repeat:repeat-x;
  width: 290px;
  height: 43px;
  margin-top: 0px;
  margin-left: -5px;
}

.search{
    padding: 0px 0px 0px 10px;
    font-size: 11px;
    border: 0px !important;
    height: 19px;
    margin-top: 6px !important;
    width: 224px;
    float: left;
    border-radius: 8px;
}

.buttonSearch{
    width: 37px !important;
    height: 20px !important;
    color: black !important;
    font-weight: normal !important;
    border: none !important;
    cursor: pointer !important;
    font-size: 12px !important;
    background-color: transparent !important;
    padding-top: 5px !important;
    float: left;
    background-image: url('/images/frontend/search.png');
    background-repeat: no-repeat;
    position: relative;
    right: -209px;
    top: -23px;
}

.buttonSearch:hover{
    background-color: transparent !important;
}

#footer {
  font-weight: normal;
  padding: 20px 0px;
  background-image: url('/images/frontend/bck_footer.png');  
  background-repeat:repeat-x;
  height: 226px;
  margin-top: 15px;
}

#footer a {
  font-size: 12px;
  color: #fff;
  font-weight: normal !important;
}

#footer a img {
  margin-right: 5px;
  vertical-align: middle;
}
#footer ul {
  margin: 10px 0px;
  padding: 0px;
}
#footer ul li:first-child {
  border: none;
  padding: 0px 10px 0px 0px;
}
#footer ul li {
  border-left: 1px solid #74c8e2;
  display: inline;
  list-style: none;
  margin: 0px;
  padding: 0px 10px;
}
/**
* Calculator
*/
#calculator,
#calculatorButton {
  background-color: #f0fafc;
  margin: 10px 0px;
  padding: 10px 0px 10px 10px;
}
#calculator {
  min-height: 260px;
  max-height: 300px;
}
#calculator .errorCalc {
  color: red;
  font-size: 12px;
}
#calculator #errorCalculator {
  color: red;
  font-size: 12px;
  height: 14px;
  line-height: 1em;
}
#calculator input[type="text"] {
  color: #444;
  font-size: 13px;
  font-weight: normal;
  margin: 2px 0px 0px 0px;
  *margin: 0px;
  width: 230px;
}
#calculator input[type="text"].errorFound {
  border: 1px solid #f8a3a3 !important;
}
#calculator input[type="submit"],
#calculatorButton input[type="button"] {
  background: url('/images/frontend/perigen-elements-form.png') 0px -224px no-repeat;
  font-size: 13px;
  font-weight: bold;
  height: 37px;
  margin: 10px 0px 0px 0px;
  width: 240px;
}
#calculator input[type="submit"]:hover,
#calculatorButton input[type="button"]:hover {
  background-position: 0px -264px;
}
#calculatorButton input[type="button"] {
  margin: 0px;
}
#calculator #loader {
  margin-left: 110px;
}
/* Div Floating */
.overlay {
  background-color: #fff;
  border: 10px solid rgba(82, 82, 82, 0.698);
  border: 10px solid rgb(82, 82, 82); /* Only IE 7 and olders*/
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  display: none;
  height: 340px;
  left: 50%;
  margin-left: -170px;
  margin-top: -200px;
  padding: 10px;
  position: fixed;
  top: 50%;
  width: 270px;
  z-index: 6000;
}
.overlay #calculator {
  background-color: #fff;
}
.overlay .close {
  background-image: url('/images/frontend/close.png');
  top: 0px;
  cursor: pointer;
  height: 35px;
  margin: 0px;
  position: absolute;
  right: 0px;
  width: 35px;
}
/** Videos **/
.frameVideo{
    float: left; width: 235px; margin-right: 1px; margin-bottom: 1px; background-color: #B3B5B8;
}

.frameVideo .video{
    margin-top: 10px; margin-bottom: 7px; height: 180px;  text-align: center; padding: 2px;
}

.frameVideo .video img.medium{
    width: 135px;
    height: 100px;
}

.frameVideo .video img.big{
    width: 135px;
    height: 100px;
}

.frameVideo .video img.small{
    width: 117px;
    height: 89px;
}

/***
* News and Events
*/

.frameLateralNews{
    background-color: #B3B5B8; 
    width: 260px; 
    padding-top: 15px; 
    text-align: center;
}

.frameLateralNews > div{
    color: #000;
    padding: 5px 15px 5px 15px;
    text-align: justify;
    font-size: 10px;
    line-height: 10px;
}

.barra_vertical{
    float:left;
    border-left: 1px dotted #000;
    width:1px;
    height:280px    ;
}

.borderBottomDotted{
    border-bottom: 1px dotted #000;
}

.borderRightDotted{
    border-right: 1px dotted #000;
}

.borderLeftDotted{
    border-left: 1px dotted #000;
}

.title-ppal-news-home{
    margin-bottom: 8px !important;
}

.content-home{
    font-size: 11px;
}

.titulo-acontece{
    background-color: #06201A;
    color: white;
    width: 374px;
    height: 23px;
    padding: 8px;
    font-size: 14px;
}
.content-acontece{
    margin-top: 0px;
    background-color: #848689;
    color: white;
    font-size: 11px;
    padding: 17px;
    width: 356px;
    
}

.title-news-home{
    margin-top: 10px;
    margin-bottom: 2px;
    font-weight: bold;
    color: #000;
}

#news table {
  border-collapse: separate;
  border-spacing: 0px 23px;
}
#news td {
  line-height: normal;
  margin: 0px;
  padding: 0px;
  vertical-align: top;
}
#news img {
  clear: right;
  float: left;
  margin-right: 10px;
}
#news > div {
  margin: 0px 20px 0px 0px;
}
#newsPress {
  border-bottom: 1px solid #CCC;
    margin: 0px;
    padding: 13px 0px 3px 0px;
    height: 115px;
}
#newsPress > table {
  border-collapse: separate;
  border-spacing: 0px 3px;
}
#newsPress .fecha {
  color: #707070;
  text-align: center;
  width: 90px;
  font-style: normal !important;
}
#newsPress .titulo > a {
  color: black;
  display: block;
  font-style: normal !important;
}

#newsPress .image_new {
  float: left;
  width: 180px;
}

#newsPress .content {
  float: left;
  width: 400px;
  padding-left: 8px;
}




#newsPress .fecha,
#newsPress .summary {
  padding: 1px;
  vertical-align: top;
  text-align: left;
}
#newsPress tr:hover .fecha {
  background-color: #EFF3FE;
}
#newsPress tr:hover .titulo {
  background-color: #EFF3FE; /*#fdf9ee;*/
}
#newsPress td {
  margin: 0px;
  padding: 0px;
  vertical-align: top;
}
#newsPress .summary {
  padding: 1px;
  text-align: justify;
}
#newsPress .summary p{
  width: 420px !important;
}
#newsPress input[type="text"] {
  width: 220px;
}
#newsPress input[type="submit"],
#newsPress input[type="button"] {
  background: url('/images/frontend/perigen-elements-form.png') 0px -304px no-repeat;
  font-weight: normal;
  height: 30px;
  width: 104px;
}
#newsPress input[type="submit"]:hover,
#newsPress input[type="button"]:hover {
  background-position: 0px -338px;
}
.borderImage{
    padding: 0 15px 5px;
    margin-bottom: 15px;
}
/***
* Pagination links
*/
#pagination {
  border-bottom: 1px solid #CC3B26;
  margin-top: 20px;
  padding: 3px 0px;
  text-align: center;
}
#pagination li {
  color: #CC3B26;
  display: inline;
  margin: 0px;
  padding: 0px;
}
#pagination li.selected a {
  background-color: #CC3B26;
  color: #fff;
}
#pagination li a {
  color: #CC3B26;
  display: inline-block;
  margin: 0px;
  padding: 0px 5px;
}
#pagination li a:hover {
  background-color: #CC3B26;
  color: #fff;
}
/***
* Testimonials Thumbs
*/
.testimonials p {
  background-color: #9fd0bb;
}
.testimonial {
  border: none !important;
  margin: 10px 0px;
}
.testimonial .image {
  width: 115px;
}
.testimonial .caption a {
  font-size: 12px;
  line-height: 1.3em;
  padding: 5px !important;
}
/***
* Site Map
*/
#sitemap ul {
  margin: 0px;
  padding: 0px;
}
#sitemap .seccion {
  border-bottom: 1px solid #e9f6f9;
}
#sitemap .seccion li {
  list-style: none;
  margin: 10px 0px;
  padding: 10px;
}
#sitemap .seccion li:hover {
  background-color: #fef3df;
}
#sitemap .seccion > li > a {
  color: #f6c463;
  font-weight: bold !important;
  margin: 0px;
  padding: 0px;
}
#sitemap .subseccion {
  margin-left: 100px;
}
#sitemap .subseccion li {
  list-style-type: square;
  margin: 0px;
  padding: 0px;
}
#sitemap .subseccion li a {
  color: #000;
}
/***
* Miscelaneas
*/
hr {
  color: white;
  background-color: white;
  background: none;
  margin: 0px;
  height: 20px;
}
hr.blue {
  border-bottom: 1px solid #ccc;
  height: auto;
  margin: 10px 0px;
}
hr.black {
  border-bottom: 2px solid #000;
  height: auto;
  margin: 5px 0px 20px 0px;
}
hr.gris {  
background-color: #ccc;
margin: 0px;
height: 1px;
width: 593px;
}
a.black {
  color: #000;
}
a.blue {
  color: #74c8e2;
  margin: 0px;
  padding: 0px;
}
hr.divisor{
  border: 1px solid black;
  height: 0px;
  margin: 0px;
  padding: 0px;
}
.results p,
.testimonials p {
  color: #fff;
  line-height: normal;
  margin: 5px 0px 10px 0px;
  padding: 5px 10px;
  text-align: left;
}
.title {
  margin-bottom: 10px;
}
.title h2 {
  margin: 0px;
}
.results p {
  background-color: #f37421;
}
.learnMore li {
  margin-bottom: 0px;
}

/** Carousel **/

.noticias-home .title{
    font-weight: bold;
    border: none;
    margin-top: 12px;
    width: 220px;
    color: #333;
    text-align: left;
    line-height: 15px;
}

.noticias-home .desc{
    font-weight: normal;
    width: 220px;
    text-align: left;
}

.noticias-home .desc p{
    font-size: 11px;
}

.noticias-home .desc p span{
    font-size: 11px !important;
}

.carousel .controls{
    float: right;
    right: 12px;
    bottom: 10px;
    position: relative;
    right: 12px;
    bottom: 10px;
}   

.carouselInfo .controls{
    float: right;
    right: 12px;
    bottom: 10px;
    position: relative;
    right: 12px;
    bottom: 10px;
}   

.prev{
    background: url('/images/frontend/prev.png') 0px 0px no-repeat;
    border: none;
    width: 26px;
    height: 27px;
    cursor: pointer;
}
.next{
    background: url('/images/frontend/next.png') 0px 0px no-repeat;
    border: none;
    width: 26px;
    height: 27px;
    cursor: pointer;
}

.ancla {
  background: url('/images/frontend/bg_top.jpg') 0px 0px no-repeat;
  color: #fff;
  font-size: 24px;
  height: 51px;
  line-height: 51px;
  padding: 0px 5px;
  text-transform: uppercase;
  width: 950px;
}
.inputHintOverlay { color: #888;}
.msn_ready{
    background-color: #DDD;
    border: 1px solid #CCC;
    margin-top: 10px;
    padding: 10px;
    font-weight: bold;
    width: auto;
    text-align: left;
    color: black;
}

.msn_help{font-size: 11px;font-style: italic; color: #4B94C9;}
.errorForm{color: #e65455;font-size: 11px;}
.requiredExtra{ color: red;}
.msn_error{background-color: #BD1417;border: 1px solid #BD1417; color: #FFF; margin-top: 10px;padding: 10px;font-weight: bold;width: auto;text-align: left}
.no-data{
    color: #D80E24;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.contentPicture a {
  background-color: #ffffff;
  border: #b9cede solid 1px;
  float: left;
  margin: 5px 14px;
  margin-left: 0px;
  padding: 4px;
  table-layout: fixed;
}

.listGallery{
    width: 155px;
    height: 220px;
    float: left; 
    min-height: 211px;
}

.listGallery a {
  background-color: #ffffff;
  border: #ccc solid 1px;
  float: left;
  margin: 5px 5px;
  margin-left: 0px;
  padding: 4px;
  table-layout: fixed;
}

.contentPrviewAlbum{
    background-color: #FFF;
    border: 1px solid #CCC;
    float: left;
    height: 195px;
    width: 160px;
    padding-top: 6px;
    text-align: center;
    margin-right: 40px;
    margin-bottom: 24px;
}

.contentPrviewAlbum > div{
    margin-top: 10px;
    text-align: left;
    color: #000;
    margin-left: 10px;
    font-size: 12px;
}

.contentPrviewAlbum > div label{
    color: #000;
    font-weight: bold;
}

ul{ list-style:none; list-style-position:outside;}
.navi{ float:left; width:98px; height:50px; }
.navi li{ float:right; height:45px; position:relative;}
.navi li a{ float:left; height:45px; color:#b2b2b2; overflow:hidden; text-decoration: none;}


.navi li.hover ul,
.navi li:hover ul{display:block;}
.navi li ul.subnav1{width:150px;}
.navi li ul.subnav1 li{margin: 0px;}
.navi li ul{ 
    display:none;
    background:#fbfbfb; 
    position:absolute; 
    left:1px; 
    top:29px; 
    padding:8px 0 5px; 
    overflow:hidden;
    -moz-border-radius-bottomleft:5px; 
    -moz-border-radius-bottomright:5px;     
    -moz-border-radius-topright:5px;     
    -webkit-border-bottom-left-radius:5px; 
    -webkit-border-bottom-right-radius:5px; 
}
.navi li ul li{ float:left; width:100%; height:auto; border:0;}
.navi li ul li a{ float:left; width:100%; padding-left:17px; display:inline; margin-left:0px; height:auto; line-height:174%;
                                color:#CCC; font-size:12px; font-weight: normal !important; background:none; text-indent:0;}
.navi li ul li a:hover{background:#e6eaed; color:#333}

.listVagas{
    font-size: 11px;
    
}

.cadastreEmpresa{
    background-color: #9D9FA2;
    color: white;
    width: 150px;
    padding: 7px;
    margin-left: 82px;
    text-align: center;
    font-size: 12px;
}

.cadastreEmpresa a{
    color: white;
}

.vejaTodos{
    /*float: right; text-align: right; padding-right: 10px;*/
    text-align: center;
    padding-right: 10px;
}

.vejaTodos a{
    font-size: 10px;
    color: #000;
}

.vaga-aberto{
    color: #0A934B;
}
.vaga-fechada{
    color: #FF0000;
}

.mapa img{
    margin-left: 170px;
}

.contactMapa {
    margin-bottom: 25px;
}
.contactMapa a{
    color: #FF001A !important;
    
}
ul.iconos-home{
    margin: 0;
    margin-left: 6px;
}

ul.iconos-home li{
    float: left;
    margin-right: 2px;
    
}

.border-forma{
    border: 1px solid #DDD;
    background-color: #FFF;
}

.border-forma .titulo{
    color: #CC1824;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.border-forma iframe{
    width: 320px !important;   
    height: 300px !important;   
}
.separacion-top{
    margin-top: 10px;
}

.no-separation-top{
    margin-top: -5px !important;
}

.separacion-top-2{
    margin-top: 20px;
}

#lista-servicios img{
    margin-right: 5px;
    position: relative;
    top: 3px;
}

#lista-servicios a
{
    font-weight: normal !important;
    font-size: 13px !important;
    color: #000 !important;
}

#lista-servicios li{
    height: 25px;
}

#bloque-secretaria{
    float: left;
    width: 303px;
    height: 210px;
    background-color: #FFF;
    border: 1px solid #ccc;
    margin-right: 20px;
    z-index: 99999;
    margin-top: 75px;
    font-size: 13px !important;
}


#bloque-secretaria .lista{
    position: relative;
    top: -26px;
    height: 78px;
    margin-left: 0px;
    padding-right: 20px;
    text-align: left;
}

#bloque-secretaria a{
    float: right;
    right: 10px;
    position: relative;
    top: 72px;
}

#bloque-secretaria a img{
    position: relative;
    top: 4px;
}

#bloque-secretaria .lista li{
    border-bottom: 1px dotted #CCC;
    padding-bottom: 4px;
}

#bloque-secretaria .lista img{
    width: 15px;
    height: 14px;
}

#bloque-secretaria .icon{
    width: 21px !important;
    height: 25px !important;
    position: relative;
    top: 5px;
    margin-right: 4px;
}
#title_secretaria{
    height: 24px;
    width: 290px;
    -moz-border-radius-topright: 47px 51px;
    border-top-right-radius: 47px 51px;
    -moz-border-radius-topleft: 50px 25px;
    border-top-left-radius: 20px 19px;
    background-color: #009865;
    position: relative;
    top: -35px;
    z-index: 1;
    color: #FFF;
    padding-left: 13px;
    padding-top: 7px;
    padding-bottom: 0px;    
    text-align: left;
}

#title_secretaria a{
    color: #FFF !important;
    font-weight: normal !important; 
    top: 0px;
    float: left;
    right: 0px;
}

.verde{
    background-color: #009966 !important;
}
.azul{
    background-color: #328EDD !important;
}
.amarillo{
    background-color: #EAE32C !important;
}
.rojo{
    background-color: #E02429 !important;
}

.fondo-titulo-interna{
    background-image: url('/images/frontend/bck_title_interna.png');
    background-repeat: repeat-x;
    width: 980px;
    height: 68px;
    
    
}
.fondo-titulo-ppal{
    background-image: url('/images/frontend/bck_title_ppal.png');
    background-repeat: repeat-x;
    width: 980px;
    height: 68px;
}

.fondo-titulo-interna h1{
    font-size: 28px;
    color: #FFF;
    padding: 14px 0px 0px 17px;
}
.fondo-titulo-ppal h1{
    font-size: 28px;
    color: #FFF;
    padding: 14px 0px 0px 17px;
}

.fancybox-skin{
    padding: 5px !important;
}

.fancybox-inner{
    width: 485px !important;
    height: 286px !important;
}

.fancybox-wrap{
    width: 505px !important;
}

.shop-container li {
    margin-bottom: 15px;
    height: 105px;
}

.shop-container li a img {
    border-radius: 3px;
    float: left;
    margin-right: 2.2%;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    width: 26.44%;
    max-width: 92px;
    height: 52px;
}

.shop-container li a span {
    border-radius: 3px;
    font-size: 13px !important;
    color: #000;
    padding: 0px 4px;
    display: block;
    line-height: 15px;
    /*margin-left: 33.89%;*/
    margin-left: 0px;
    width: 207px;
    text-align: left;
    font-style: normal !important;
}

.shop-container li a span.title {
    width: 325px;
}

.shop-container li a strong {
    display: block;
    font-style: normal !important;
    font-size: 12px !important;
    color: #666;
    margin: 3px 26px 0px 28.89%;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    font-weight: normal !important;
}
.shop-container li a strong span {
    padding: 0px !important;
}
.shop-container li a big {
    display: block;
    font-weight: bold;
    font-size: 11px;
    color: #666;
    margin-left: 28.89%;
    font-style: normal !important;
    position: relative;
    top: -5px;
}

#scroll-video-home{
    height: 350px;
}

#player-video-home{
    padding-left: 16px;
    text-align: center;
}

.spacio-video{
    border: 1px solid #CCC;
    text-align: center;
    width: 128px;
    height: 96px;
    padding-top: 4px;
    padding-bottom: 2px
}

.obras
{
    
}

.obras li{
    float: left;
    width: 139px;
    border: 1px solid #FFF;
    padding: 4px;
}

.obras li img{
    margin-bottom: 10px;
}

.obras li:hover{
    border: 1px solid #CCC;
    background-color: #F8F8F8;
    
}


.obras li .title{
    font-weight: bold;
    font-size: 13px;
    color: #333;
}
.obras li .desc{
    font-weight: normal;
    font-size: 12px;
}

/** CSS PAGINATE AJAX **/
#loading{
    width: 3%;
    position: absolute;
    top: 70%;
    left: 35%;
    margin-top: 0px;
}
#paginador .pagination ul li.inactive,
#paginador .pagination ul li.inactive:hover{
    background-color:#FFF;
    color:#333;
    border:1px solid #333;
    cursor: default;
}

#paginador .pagination ul li.active,
#paginador .pagination ul li.active:hover{
    background-color:#FFF;
    color:#333;
    border:1px solid #333;
    cursor: pointer;
    font-weight: bold !important;
}
#paginador .data ul li{
    list-style: none;
    font-family: verdana;
    margin: 5px 0 5px 0;
    color: #000;
    font-size: 11px;
    
}

#paginador .pagination{
    width: 550px;
    height: 25px;
}
#paginador .pagination ul li{
    list-style: none;
    float: left;
    border: 1px solid #333;
    padding: 2px 6px 2px 6px;
    margin: 0 3px 0 3px;
    font-family: arial;
    font-size: 11px;
    color: #333;
    font-weight: normal !important;
    font-style: normal !important;
    background-color: #FFF;
    cursor: pointer;
}
#paginador .pagination ul li:hover{
    color: #fff;
    background-color: #333;
    cursor: pointer;
}

/** CSS PAGiNATE NO AJAX **/
.paginate{
    margin-top: 30px !important;
}

.paginate a {
	padding:2px 5px 2px 5px;
	margin:2px;
	border:1px solid #999;
	text-decoration:none;
	color: #333;
        background-color: #FFF;
}
.paginate a:hover, .paginate a:active {
	border: 1px solid #999;
	color: #FFF;
        background-color: #333;
}
.paginate span.current {
    margin: 2px;
    padding: 2px 5px 2px 5px;
    border: 1px solid #333;
    font-weight: bold;
    background-color: #333;
    color: #FFF;
}
.paginate span.disabled {
    padding:2px 5px 2px 5px;
    margin:2px;
    border:1px solid #eee;
    color:#DDD;
}

.paginate li{
    padding:4px;
    margin-bottom:3px;
    background-color:#FCC;
    list-style:none;}

.paginate ul{
    margin:6px;
    padding:0px;
}

.paginate .total {
    float: right;
    color: #333;
}
        
.go_button
{
    background-color:#f2f2f2;border:1px solid #006699;color:#cc0000;padding:2px 6px 2px 6px;cursor:pointer;position:absolute;margin-top:-1px;
}
.total
{
    float:right;color:#333;
}


/* LISTAS */

.galleries-list{
    margin-left: 0;
}
.gallery-item-block {
    position: relative !important;
    height: 135px !important;
    border-bottom: 1px solid #CCC;
    margin-bottom: 21px !important;
    padding-bottom: 10px !important;
}

.item-informativo{
    height: auto !important;
    float: left;
    border: 0px;
    margin-bottom: 7px !important;
    padding-bottom: 1px !important;
    margin-right: 17px;
}

.wip-block .wip-main {
    padding: 0px;
    
}

.wip-main img{
    float: left;
}

.wip-block {
    -webkit-box-sizing: border-box;
    background: transparent;
    margin-bottom: 9px;
}

.wip-block .wip-title {
    font-size: 13px;
    margin-top: 5px;
    color: #000;
    line-height: 13px;
    font-style: normal;
}
.wip-block .wip-info {
    width: 390px;
    float: left;
    padding-left: 10px;
}

.text-ellipsis {    
    overflow: hidden;
    font-size: 12px !important;
    color: #666;
    margin-top: 10px;
}

.veja-todos{
    font-size: 12px;
    margin-left: 20px;
    position: relative;
    top: 3px;
}

.veja-todos img{
    position: relative;
    top: 4px;
}

.voltar{
    font-size: 12px;
    margin-left: 20px;
    position: relative;    
    top: 5px;
    float: right;
    right: 10px;
}

.voltar img{
    position: relative;
    top: 4px;
}

.jCarouselLite{
    left: 12px !important; width: 960px !important; height: 260px !important;
}

.jCarouselLite li{
    border: 1px solid #FFF;
    background-color: #FFF;
    overflow: hidden;
    float: left;
    width: 195px;
    height: 235px;
    margin-right: 0px;
    padding: 6px;
    width: 225px !important;
    text-align: center;
}


.jCarouselLite li:hover{
    border: 1px solid #CCC;
    background-color: #F8F8F8;
}

.obras-home-slider{
    left: 20px !important; width: 593px !important; height: 265px !important;
}

.obras-home-slider li{
    border: 1px solid #FFF;
    background-color: #FFF;
}

.obras-home-slider li:hover{
    border: 1px solid #CCC;
    background-color: #F8F8F8;
}

.noticias-secretaria li{
    border: 1px solid #FFF;
    background-color: #FFF;
}

.noticias-secretaria li:hover{
    border: 1px solid #CCC;
    background-color: #F8F8F8;
}

.jCarouselLite li:hover .title{
    text-decoration: underline;
}


.jCarouselBannerFull{
    left: 9px !important; width: 620px !important; height: 120px !important;
}

.jCarouselBannerFull ul.full-ob{
    left: 0px !important;
}



.jCarouselBannerDestaque{
    left: 0px !important; width: 575px !important; height: 208px;
}

.jCarouselInfomativo{
    left: 12px !important; width: 320px !important; height: 209px;
}

.secretaria .image-desc {
/*    line-height: 1.3em;
    text-align: left;
    padding-left: 5px;
    padding-bottom: 10px;
    font-size: 21px;
    width: 171px;
    margin-left: 5px;
    color: #FFF;
    position: absolute;
    top: 468px;
    left: 205px;
    height: 77px;*/
    line-height: 1.3em;
    text-align: left;
    padding-left: 5px;
    padding-bottom: 10px;
    font-size: 21px;
    width: 171px;
    margin-left: 5px;
    color: #FFF;
    position: relative;
    top: -298px;
    left: 18px;
    height: 47px;    
}
.secretaria {
    width: 200px;
    /*position: relative;*/
    top: -155px;
    left: 24px;   
}
.secretaria .boton-caption{
    color: #FFF;
    width: 122px;
    height: 25px;
    font-size: 14px;
    padding-top: 5px;
    position: relative;
    top: -84px;    
    left: 24px;
}

.secretaria .boton-caption a{
    background-color: #D80E24;
    font-weight: normal;
    text-transform: uppercase;
    color: #FFF !important;
    width: 122px;
    border: 1px solid #999997;
    height: 25px;
    padding: 9px;
    
}

.jCarouselInfomativo li a img{
    text-align: center;
    margin-left: 32px;
}

.foto-secretario{
    padding: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.home-noticia-secretaria{
    position: absolute;
    clear: left;
    height: 321px;
    top: 469px;
    background-image: url('/images/frontend/fondo_top_noticia_ppal.png');
    background-repeat: no-repeat;
    filter: alpha(opacity=170);
    -moz-opacity: 1.70;
    opacity: 1.70;
    width: 213px;
    margin-left: 15px;
}

.sideBar{
    float: left; 
    margin-top: 8px;
}

.sideBar a{
    text-transform: uppercase;
    font-size: 10px;
    font-style: normal;
    color: #DF1421;
}


ul.menu-secretarias{
    width: 700px !important;
    margin-left: -60px !important;
}

ul.menu-secretarias li{
    float: left !important;   
    height: auto !important;
}

ul.menu-secretarias li a{
    width: 330px !important;
}