#gallery{
    height: 350px;
}

div.content {
	/* The display of content is enabled using jQuery so that the slideshow content won't display unless javascript is enabled. */
	display: none;
	float: right;
	width: 605px; 
}
div.content a, div.navigation a {
	text-decoration: none;
	color: #FFF !important;
}
div.content a:focus, div.content a:hover, div.content a:active {
	text-decoration: underline;
}
div.controls {
	margin-top: 5px;
	height: 23px;
        
}
div.controls a {
	padding: 5px;
}
div.ss-controls {
	float: left;
}
div.nav-controls {
	float: right;
}
div.slideshow-container {
	position: relative;
	clear: both;
	height: 272px; /* This should be set to be at least the height of the largest image in the slideshow */
        
}
div.loader {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('loader.gif');
    background-repeat: no-repeat;
    background-position: center;
    width: 603px;
    height: 340px; /* This should be set to be at least the height of the largest image in the slideshow */
}
div.slideshow {

}
div.slideshow span.image-wrapper {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
        
}
div.slideshow a.advance-link {
    display: block;
    width: 603px;
    height: 340px; /* This should be set to be at least the height of the largest image in the slideshow */
    line-height: 340px; /* This should be set to be at least the height of the largest image in the slideshow */
    text-align: center;
        
}
div.slideshow a.advance-link:hover, div.slideshow a.advance-link:active, div.slideshow a.advance-link:visited {
	text-decoration: none;
}
div.slideshow img {
    vertical-align: middle;
    border: 1px solid #ccc;
    width: 596px;
    height: 340px;
        
}
div.download {
	float: right;
}
div.caption-container {
    position: relative;
    clear: left;
    height: 350px;
    top: -270px;
    background-image: url('/images/frontend/fondo_top_noticia_ppal.png');
    background-repeat: no-repeat;
    
    filter: alpha(opacity=170);
    -moz-opacity: 1.70;
    opacity: 1.70;
    width: 208px;
    
    margin-left: 5px;
    
        

}

div.fondo-caption-container{
    background-color: #333;
    filter:alpha(opacity=70);
    -moz-opacity:.70;opacity:.70;
    -moz-border-radius-topright: 119px 115px;
    border-top-right-radius: 119px 115px;
    -moz-border-radius-bottomright: 138px 119px;
    border-bottom-right-radius: 138px 119px;
    width: 250px;
    background-image: url('/images/frontend/fondo_top_noticia_ppal.png');
    background-repeat: no-repeat
}
span.image-caption {
    display: block;
    position: absolute;
    width: 603px;
    top: 0;
    left: 0;
}
div.caption {
    font-size: 21px;
    width: 171px;
    margin-left: 5px;
    color: #FFF;
}

div.captions {
    padding: 2px;
    background-color: #F0F4F5;
    color: #333;
    width: 168px !important;
    height: 61px;
    border: 0px solid #000;
}
div.captions a{
    color: #333 !important;
    font-weight: normal;
}
div.image-title {
	font-weight: bold;
	font-size: 1.4em;   
}
div.image-desc {
    line-height: 1.3em;
    padding-top: 40px;
    text-align: left;
    padding-left: 5px;
    padding-bottom: 10px;
    height: 225px;
}
div.boton-caption{
    background-color: #D80E24;
    color: #FFF;
    width: 122px;
    height: 25px;
    font-size: 14px;
    padding-top: 5px; 
    border: 1px solid #999997;
    position: absolute;
    left: 16px;
    bottom: -46px;
}
div.boton-caption a{
    font-weight: normal;
    text-transform: uppercase;
}
div.navigation {
	/* The navigation style is set using jQuery so that the javascript specific styles won't be applied unless javascript is enabled. */
}
ul.thumbs {
	clear: both;
	margin: 0;
	padding: 0;
}
ul.thumbs li {
	float: left;
	padding: 0;
	margin: 0px 0px 1px 0;
	list-style: none;
}
a.thumb {
	padding: 2px;
	display: block;
	border: 1px solid #FFF;
}
ul.thumbs li.selected a.thumb {
	background: #FFF;
}

ul.thumbs li.selected .captions {
    background-color: #D80E24;
    color: #FFF !important;
    text-align: left !important;
}

ul.thumbs li.selected .captions a{
    color: #FFF !important;
}

a.thumb:focus {
	outline: none;
}
ul.thumbs img {
	border: none;
	display: block;
}
div.pagination {
	clear: both;
}
div.navigation div.top {
	margin-bottom: 12px;
	height: 11px;
        display: none;
}
div.navigation div.bottom {
	margin-top: 12px;
}
div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
	display: block;
	float: left;
	margin-right: 2px;
	padding: 4px 7px 2px 7px;
	border: 1px solid #ccc;
}
div.pagination a:hover {
	background-color: #eee;
	text-decoration: none;
}
div.pagination span.current {
	font-weight: bold;
	background-color: #000;
	border-color: #000;
	color: #fff;
}
div.pagination span.ellipsis {
	border: none;
	padding: 5px 0 3px 2px;
}
